{% extends '@Redmine/base.html.twig' %}
{% block breadcrumbs %}
    <li><a href="{{ path('project_index') }}">Projects</a></li>
    <li><a href="{{ path('project_view', {'id': project.id  }) }}">{{ project.name }}</a></li>
    <li class="active">Issues list</li>
{% endblock %}
{% block title %} Issues {% endblock %}
{% block content %}
    {% if pager.getCurrentPageResults() is null %}
        <div class="alert alert-warning" role="alert">Empty issue</div>
    {% else %}
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Tracker</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Subject</th>
                <th>Updated</th>
                <th>Author</th>
            </tr>
            </thead>
            <tbody>
            {% for issue in pager.currentPageResults %}
                <tr>
                    <td> <a title="view" href="{{ path('view_issue', {'id': issue.id  }) }}">{{ issue.id }}</a>  </td>
                    <td> {{ issue.tracker.name }} </td>
                    <td> {{ issue.status.name }} </td>
                    <td> {{ issue.priority.name }} </td>
                    <td> <a title="view" href="{{ path('view_issue', {'id': issue.id  }) }}">{{ issue.subject }}</a>   </td>
                    <td> {{ issue.updatedOn|date }} </td>
                    <td> {{ issue.author.name }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-center pagerfanta">
            {{ pagerfanta(pager, 'twitter_bootstrap3') }}
        </div>
    {% endif %}

{% endblock %}
